Create new post
<br>
<p>{{error}}</p>

<!-- This form should send date, text, and title for the post. Get the username
from the cookies! -->

<form action="/posts" method="POST">
  <!-- YOUR CODE HERE -->
  <input type="text" name="title" placeholder="Title" />
  <input type="date" name="date" />
  <input type="text" name="text" placeholder="Post Body" />
  <input type="submit" value="Submit" />
</form>
